*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

*:focus{
    outline: none;
}

body{
    width: 100%;
    min-height: 100vh;
    position: absolute;
    background: #000000; 
}
 
::-webkit-scrollbar{
    width: 10px;

}

::-webkit-scrollbar-thumb{
    background: #e0a91c;
    border-radius: 20px;
}
::selection{
    background: #e0a91c;
}
/*loading animations */
 
.anim-containers{
    position: top;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
 
 .shutter{
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    background: #ffffff;


 }
  
 .shutter.top{
    top: 0;
    z-index: 5;
    animation: slide-top 2s 2.5s forwards 1;
 }
  
 .shutter.bottom{
    bottom: 0;
    z-index: 4;
    animation: slide-bottom 2s 2.5s forwards 1;
 }
  
 .shutter.top .logo{
    position: absolute;
    height: 50px;
    bottom: -50px;
    /* bottom should be equal to its half of the height */
    left: 50%;
    transform: translateX(-50%) rotateY(90deg);
    z-index: 2;
    animation: logo_anim .5s 1s forwards 1;
 }
  
 @keyframes logo_anim{
    0%{
        transform: translateX(-50%) rotateY(90deg);
    }
    100%{
        transform: translateX(-50%);
    }
 }
  .shutter.top::after{
    content: '';
    position: absolute;
    height: 3px;
    width: 100px;
    background: #000000;
    bottom: 0;
    left: -100%;
    animation: slide-in-out 1s 1.5s forwards 1;

  }

  @keyframes slide-in-out{
    0%{
        left: -100%;

    }
    100%{
        left: 100%;
    }
  }   
  @keyframes slide-top{
    0%{
        top: 0;
    }
     100%{
        top: -100%;
     }
    }
   
  @keyframes slide-bottom{
    0%{
        bottom: 0;
    }
     100%{
        bottom: -100%;
     }
    }
    /*loding animation end */
    /* carousel */

    .lambo-carousel{
        position: relative;
        width: 100%;
        height: 100vh;

    } 
     
    .carousel{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(defender4.png);
        background-size: cover;
        background-position: center center;
        padding-left: 5vw;
        padding-top: 20vh;
        font-family: 'Times New Roman', Times, serif;
    }
 
    .carousel:nth-child(2){
        background: url(defender5.png);
        background-size: cover;
        z-index: -1;
    }
    
    .carousel:nth-child(3){
        background: url(defnew.png);
        background-size: cover;
        z-index: -1;
    }
     
    .carousel .title{
        color: #ffffff;
        font-size: 120px;
        text-transform: uppercase;
        opacity: 0;
    }

    .btn{
        opacity: 0;
        width: 150px;
        height: 40px;
        margin-top: 20px;
        background: none;
        color: #ffffff;
        
        text-transform: capitalize;
        font-size: 16px;
        cursor: pointer;
        transition: .5s;
        text-align: left;
        padding-left: 30px;
        position: relative;
        border: none;
        clip-path: polygon(0 0, 82% 0, 100% 100%, 0% 100%);
    }
      
    
    .btn::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url(btn.png);
        background-size: 100% 100%;
    }
     
    .btn:hover{
        background: #ffffff;
        color: #000;

    }
     .carousel.active{
        z-index: 2;

     }

     .carousel.active .title,
     .carousel.active .btn{
        opacity: 0;
        animation: fade-up 1s forwards 1;
     }
      
     @keyframes fade-up{
        0%{
             opacity: 0;
             transform: translateX(-50px);
        }
        100%{
            opacity: 1;
            transform: translateX(0px);
        }
     }
      
     .indicators{
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: 80px;
        height: 15px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        cursor: pointer;
        z-index: 3;
    
     }
      
     .indicators span{
        width: 15px;
        height: 15px;
        border-radius: 50%;
        transition: .5s;
        background: rgba(0, 0, 0, 0.4);

     }
      
     .indicators span.active{
        background: #ffffff;
     }

     /* carousel done */
     /* navbar*/

    .navbar{
         position: fixed;
         top: -80px;
         left: 0;
         background: rgba(255, 255, 255, 0.982);
         display: flex;
         justify-content: center;
         align-items: center;
         width: 100%;
         height: 80px;
         z-index: 8;
         animation: slide-top 3s 1s forwards 1;
         animation-direction: reverse;
    }

    .brand-logo{
        height: 30px;
    }

   

    /* model showcase */
     
    .model-container{

        width: 100%;
        height: 60vh;
        position: relative;
        overflow: visible;
        background: #000000;
        padding: 40px 5vw;
        z-index: 3;

    }

    .model-content{
        position: relative;
        float: left;
        top: 10px;
        width: 33.33%;
        min-height: 40%;
        padding: 30px;
        background-color: #000000;
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
      
       
    }
   
    
     
     .heading{
       
        position: relative; 
        color: #ffffff;
        text-transform: uppercase;
        font-size: 25px;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        
       
     }
      
      
     .link{
        font-size: 19px;
        cursor: pointer;
        position: relative;
        width: fit-content;
        text-transform: uppercase;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: #ffffff;
        
        
        
        
     }

      .link::before{
        content: '';
        position: absolute;
        width: 35px;
        height: 40px; 
        top: -5px;
        left: -20px;
        background: url(hex.png);
       
        background-size: 100% 100%;
        transform: scale(1.5);
        transition: 1s;
          
    }
     
    .link:hover::before{
        transform: scale(1.5) rotate(-360deg);
    }
    .model-vcontainer{

        width: 100%;
        height: 60vh;
        position: relative;
        overflow: hidden;
        background: #000000;
        padding: 40px 5vw;
        z-index: 3;
        top: 0;

    }

    .model-video{
        position: absolute;
        top: 0;
        max-width: 50%;
        min-height: 100%;
       
        clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%);
    }
     
    .model-video:nth-child(3){
        left: 0;
    }
    
    .model-video:nth-child(2){
        right: 20%;

    }

    .model-video:nth-child(1){
        right: -15%;
    }

    .info-card .content{
        position: relative;
        background: #000000;
        color: #ffffff;
        text-align: center;
        font-style: italic;
        
    }
     
    .info-card .model-info{
       position: relative;
       background: #000000;
        color: #ffffff;
        inline-size: 70%;
        inset-inline: 1% 70%;

    }

     .info-card{
         height: 100vh;
         display: flex;
         justify-content: right;
         align-items: center;
     }